h1, form {
  text-align: center;
}

h1 {
  font-size: 80px;
  margin-top: 130px;
  margin-bottom: 35px;
}

h1 span:nth-child(1) {
  color: #4285f4;
}

h1 span:nth-child(2) {
  color: #ea4335;
}

h1 span:nth-child(3) {
  color: #fbbc05;
}

h1 span:nth-child(4) {
  color: #4285f4;
}

h1 span:nth-child(5) {
  color: #34a853;
}

h1 span:nth-child(6) {
  color: #ea4335;
}

a{
  text-decoration-line: none;
}

#search {
  border: 0.5px solid #e0e2e6;
  border-radius: 80px;
  width: 525px;
  height: 50px
}

#search:focus {
  outline: none;
}

div {
  margin-bottom: 30px;
}

.button {
  height: 40px;
  background: #f8f9fa;
  border: 0;
}

.login_box {
  width: 20px;
}

.login {
  background: #1a73e8;
  color: white;
  border-radius: 3px;
  border: 0;
  height: 35px;
  width: 90px;
}

li {
  list-style: none;
}

.nav {
  width: 300px;
  height: 50px;
  //outline: 1px dotted red;
  //padding-left: 440px;
}

.nav ul li {
  float: left;
  width: 30%;
  height: 100%;

}
